{% load i18n %}
{% load taxed_prices %}

{% if shipping_required %}
  <div class="table__row">
    <div class="row">
      <div class="col-8 checkout-preview__total__subtotal">
        <h3>{% trans "Subtotal" context "Order subtotal" %}</h3>
      </div>
      <div class="col-4">
        <h3 class="text-right checkout-preview-subtotal" data-value="{% price checkout_subtotal.gross html=False %}" {% if local_checkout_subtotal is not None %}data-value-local="{% price local_checkout_subtotal.gross html=False %}"{% endif %}>
          {% spaceless %}
            {% price checkout_subtotal %}
            {% if local_checkout_subtotal is not None and local_checkout_subtotal.gross %}
              <br>
              <small>
                &asymp;
                {% price local_checkout_subtotal %}
              </small>
            {% endif %}
          {% endspaceless %}
        </h3>
      </div>
    </div>
  </div>
  <br>
{% endif %}
